# Node.js y NPM
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Archivos de compilación y distribución
dist/
*.map

# Configuración del editor de código
.vscode/
.idea/
.DS_Store
*.log
*.swp

# Configuración de TypeScript
tsconfig.tsbuildinfo

# Archivos de entorno (si decides usarlos)
.env
.env.local
.env.*.local

# Archivos temporales del sistema
Thumbs.db